Listen {{ ansible_facts["ansible_default_ipv4"]["address"] }}:80

<IfModule ssl_module>
        Listen {{ ansible_facts["ansible_default_ipv4"]["address"] }}:443
</IfModule>

<IfModule mod_gnutls.c>
        Listen {{ ansible_facts["ansible_default_ipv4"]["address"] }}:443
</IfModule>
